/*
 * Custom
 */

#main-container{
  padding: 0 0.5em;
}

#filter-container {
  width: 250px;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 0.5em;
}

#twitter-list-container {
  width: 200px;
  overflow-y: scroll;
  position: fixed;
  left: 250px;
  top: 0;
  bottom: 0;
  padding: 0 0.5em;
}

#slider-container{
  width:200px;
}

.language-item {
  margin-top: 0.5em !important;
}

.country-item {
  margin-top: 0.5em !important;
}

#main-container {
  position: fixed;
  left: 450px;
  right: 0;
  top: 0;
  bottom: 0;
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 66%;
  left: 0;
  right: 0;
}

#middle-container {
  position: absolute;
  top: 33%;
  bottom: 33%;
  left: 0;
  right: 0;
}


#timeTravel-container {
  position: absolute;
  top: 66%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#545454;
  color:#ffffff
}

#timeTravel-content {
  padding: 0;
  background-color:#545454;
  color:#ffffff
}

path {
    stroke-width: 2;
    fill: none;
}

.top {
    stroke-width: 5;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis {
  font-size: 8px;
}

.show {display:block;}
