/*
 * Custom
 */

#main-container{
  padding: 0 0.5em;
}

#filter-container {
  width: 260px;
  overflow-y: scroll;
  position: fixed;
  left: 0;
  top: calc(53px + 1em);
  padding: 0 0.5em;
}

#slider-container{
  width:180px;
}

.language-item {
  margin-top: 0.5em !important; 
}

.country-item {
  margin-top: 0.5em !important; 
}

#main-container {
  position: fixed;
  left: 260px;
  right: 0;
  top: 53px; 
}

#map-container {
  height: 500px;
  padding: 0;
}

#timeTravel-content {
  height: 500px;
  padding: 0;
}

path { 
    stroke-width: 2;
    fill: none;
}

.top {
    stroke-width: 5;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis {
  font-size: 8px;
}

.show {display:block;}
